@model OnlineStore.Models.ProductDto

<h1>Confirm Delete?</h1>
<p>@Model.ProductSKU</p>

<form method="POST" action="/ProductPage/Delete/@Model.ProductId">
    <input style="background:red; color:white;" type="submit" value="Confirm Delete" />

</form>