<form method="POST" action="/ProductPage/Add">
    <div class="form-row">
        <label for="ProductName">Product Name:</label>
        <input type="text" name="ProductName" id="ProductName"/>
    </div>
    <div class="form-row">
        <label for="ProductName">Product SKU:</label>
        <input type="text" name="ProductSKU" id="ProductSKU" />
    </div>
    <div class="form-row">
        <label for="ProductName">Product Price:</label>
        <input type="text" name="ProductPrice" id="ProductPrice" />
    </div>
    <div class="form-row">
        <input type="submit" value="Add Product" />
    </div>
</form>